/**
 * Breakpoints
 */

$bp-mobile: 768px;
$bp-tablet: 992px;
$bp-desktop: 1024px;

/**
 * Colors
 */

$color-primary: blue;
$color-text: #000;

/**
 * Fonts
 */

$font-size: 14px;
$font-primary: Helvetica, Arial, sans-serif;

/**
 * Miscellaneous
 */
