/**
 * Breakpoints
 */

$bp-small: 768px;
$bp-medium: 992px;
$bp-large: 1024px;

/**
 * Colors
 */

$color-primary: blue;
$color-text: #000;

/**
 * Fonts
 */

$font-size: 14px;
$font-primary: 'Helvetica', 'Arial', sans-serif;

/**
 * Miscellaneous
 */
