html {
  /* Enable border-box for elements */
  box-sizing: border-box;
  font-size: 100%;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  font-family: $font-primary !default;
  @include font-size($font-size) !default;
  color: $color-text !default;
}

a {
  text-decoration: none;

  &[href]:not([class]) {
    text-decoration: underline !default;
  }

  /* Remove styling of telephone links */
  &[href^='tel:'] {
    color: $color-text;
    cursor: default;
  }
}

/* Reset button styling */
button,
input[type='button'] {
  outline: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='url'],
textarea {
  @extend button;
  /* Set font size to 16px to avoid iOS zooming on focus */
  font-size: 16px;
}
