html {
  /* Enable border-box for elements */
  box-sizing: border-box;
  font-size: 100%;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  font-family: $font-primary;
  @include font-size($font-size);
  color: $color-text;
}

a {
  text-decoration: none;

  /* Remove styling of telephone links */
  &[href^='tel:'] {
    color: $color-text;
    cursor: default;
  }
}

/* Reset button styling */
button,
input[type='button'] {
  outline: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='url'],
textarea {
  @extend button;
  /* Set font size to 16px to avoid iOS zooming on focus */
  font-size: 16px;
}

/* focus on semantic, not default style */
h1, h2, h3, h4, h5, h6 {
  @include font-size($font-size + 2);
}
