@charset 'utf-8';

@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

// import vendor styles
// @import '../vendor/file';
@import '../node_modules/normalize.css/normalize';

@import 'base/helpers';
@import 'base/reset';
@import 'base/print';
@import 'base/typography';

// import layouts, pages and components
// @import 'components/mycomponent';
